<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <a class="navbar-brand" routerLink="/">SGC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <!-- <li class="nav-item active">
                <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
            </li> -->

        </ul>
    </div>
</nav>


<div class="container">

    <div class="row">

        <div class="col-sm-12 col-md-6 col-lg-4"  *ngFor="let modulo of listaModulos">

            <div class="card mr-auto ml-auto mb-2" style="width: 18rem;">
                <img src="{{modulo.imagen}}" class="card-img-top"
                    alt="usuarios">
                <div class="card-body">
                    <h5 class="card-title">{{modulo.titulo}}</h5>
                    <p class="card-text">{{modulo.descripcion}}</p>

                    <div class="d-flex flex-row-reverse">
                        <a routerLink="{{modulo.urlModulo}}" class="btn btn-primary">Acceder</a>
                    </div>

                </div>
            </div>

        </div>

    </div>

    


</div>